################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClientSessionManagement/Infrastructure/bin/Debug/net9.0
/ClientSessionManagement/Infrastructure/obj
/ClientSessionManagement/Domain/obj/Debug/net9.0
/ClientSessionManagement/Domain/bin/Debug/net9.0
/ClientSessionManagement/Domain/obj
/ClientSessionManagement/Application/bin/Debug/net9.0
/ClientSessionManagement/Application/obj
/ClientSessionManagement/API/bin/Debug/net9.0
/ClientSessionManagement/API/obj
/ClientSessionManagement/.vs/ClientSessionManagement
ClientSessionManagement/.vs/ProjectEvaluation/clientsessionmanagement.metadata.v9.bin
ClientSessionManagement/.vs/ProjectEvaluation/clientsessionmanagement.metadata.v9.bin
ClientSessionManagement/.vs/ProjectEvaluation/clientsessionmanagement.strings.v9.bin
ClientSessionManagement/.vs/*
